.advantages {
	background-color: $grey;
}

.advantages__header {
	padding-top: 46px;
	padding-bottom: 35px;
	text-align: center;
	background-color: $white;	
}

.advantages__slogan {
	font-size: $fontsize;
	line-height: 1.2;
	font-weight: 300;
	color: $dark-blue;

	@media(min-width: $tablet-width) {
		margin: 0;
		font-size: 40px;
	}
}

@media(min-width: $tablet-width){
	.advantages__slogan:last-child {
		padding: 0 130px;
	}
}

.advantages-list__wrapper {
	border: 3px solid brown;

	@media(min-width: $tablet-width) {	
		display: flex;
		padding: 0 20px;		
	}	
}

.advantages__list {  /*не могу раскидать ровненько элементы..?!?!*/
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 20px;
	padding-top: 55px;
	list-style: none;
	text-align: center;	

	@media(min-width: $tablet-width) {
		order: 2;
		text-align: left;
	}

	@media(min-width: $desktop-width) {
		flex-direction: row;
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
		border: 2px solid red;
	}
}

@media(min-width: $desktop-width) {
	.advantages__item {
		text-align: center;	
		border: 2px solid green;
	}
}

.advantages__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: $black;

	@media(min-width: $desktop-width) {
		font-size: 30px;
		line-height: 30px;
	}
}

.advantages__description {
	font-size: 14px;
	line-height: 24px;
	color: $dark-blue;

	@media(min-width: $desktop-width) {
		font-size: 18px;
		line-height: 30px;
	}
}

.advantages__pic--mobile {
	display: block;
	margin: 0 auto;
}

@media(min-width: $tablet-width) {
	.advantages__pic--mobile {
		display: none;
	}
}

.advantages__pic--tablet {
	display: none;
}

@media(min-width: $tablet-width) {
	.advantages__pic--tablet {
		display: block;
	}
}

@media(min-width: $desktop-width) {
	.advantages__pic--tablet {
		display: none;
	}
}

.advantages__pic--desktop {
	display: none;

	@media(min-width: $desktop-width) {
		display: block;	
		margin: 0 auto;	
	}

}
