.advantages {
	background-color: $grey;
}

.advantages::before {
    content: "";
    display: block;
    height: 60px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media(min-width: $tablet-width) {
    	height: 50px;
    }

    @media(min-width: $desktop-width) {
    	height: 110px;
    }
}

.advantages-list__wrapper {


	@media(min-width: $tablet-width) {	
		display: flex;
		padding: 0 20px;
		margin-top: -50px;		
	}	

	@media(min-width: $desktop-width) {
		margin-top: -100px;
		padding-bottom: 45px;
	}
}

.advantages__list {  
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 20px;
	padding-top: 10px;
	list-style: none;
	text-align: center;	
	

	@media(min-width: $tablet-width) {		
		padding-top: 56px;
		padding-left: 42px;
		padding-right: 0;
		order: 2;
		text-align: left;
	}

	@media(min-width: $desktop-width) {
		flex-direction: row;
		justify-content: space-between;
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

.advantages__item {
	@media(min-width: $desktop-width) {
		width: 300px;
		text-align: center;
	}
}

.advantages__item::before {
	@media(min-width: $desktop-width) {
		background-image: url("../img/iphone-screen-1-desktop@1x.png");
    	content: "";
    	width: 292px;
    	height: 302px;
    	margin: 0 auto;
    	margin-bottom: 55px;
    	display: block;
    	background-repeat: no-repeat;
	}
}

.advantages__item:nth-of-type(2)::before {
	@media(min-width: $desktop-width) {
		background-image: url("../img/iphone-screen-2-desktop@1x.png");
	}
}

.advantages__item:last-of-type::before {
	@media(min-width: $desktop-width) {
		background-image: url("../img/iphone-screen-3-desktop@1x.png");
	}
}

.advantages__text {
	@media(min-width: $desktop-width) {
		padding: 0 30px;
	}
}

.advantages__title {
	margin: 14px 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: $black;

	@media(min-width: $tablet-width) {
		margin: 15px 0;
	}

	@media(min-width: $desktop-width) {
		margin-bottom: 24px;
		font-size: 30px;
		line-height: 30px;
	}
}

.advantages__description {
	font-size: 14px;
	line-height: 24px;
	color: $dark-blue;

	@media(min-width: $tablet-width) {
		margin: 15px 0;
	}

	@media(min-width: $desktop-width) {
		font-size: 18px;
		line-height: 30px;
	}
}

.advantages__pic--mobile {
	display: block;
	margin: 0 auto;
	margin-top: 26px;
}

@media(min-width: $tablet-width) {
	.advantages__pic--mobile {
		display: none;
	}
}

.advantages__pic--tablet {
	display: none;
}

@media(min-width: $tablet-width) {
	.advantages__pic--tablet {
		display: block;
	}
}

@media(min-width: $desktop-width) {
	.advantages__pic--tablet {
		display: none;
	}
}

.advantages__pic--desktop {
	display: none;

	@media(min-width: $desktop-width) {
		display: block;	
		margin: 0 auto;	/*margin: 0 47px;*/
		padding-top: 10px;
		width: 186px;
		height: 389px;
	}

}
