.advantages {
	background-color: $grey;
}
.advantages__header {
	padding-top: 46px;
	padding-bottom: 35px;
	text-align: center;
	background-color: $white;	
}

.advantages__slogan {
	font-size: $fontsize;
	line-height: 1.2;
	font-weight: 300;
	color: $dark-blue;
}

.advantages__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 20px;
	padding-top: 55px;
	list-style: none;
	text-align: center;	
}

.advantages__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: $black;
}

.advantages__description {
	font-size: 14px;
	line-height: 24px;
	color: $dark-blue;
}

.advantages__pic {
	display: block;
	margin: 0 auto;
}