.form-block--grey {
	background-color: $grey;
}

.form-checkbox {
	list-style: none;
}

.form-field__label {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: $red;
}

.form-block__title {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: $red;
}

.form-field__item {
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: $dark-blue;	
}

.form-checkbox__label {
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;	
}