.download-app {
	background-color: $darken-blue;
}

.download-app__wrapper {
	padding: 28px 20px;
	border: 2px solid yellow;
}

.download-app__btn {
	padding: 17px 37px; 
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: none;
	border: 3px solid $white;
	border-radius: 27px;
	color: $white;
}

.download-app__list {
	margin: 0 auto;
	margin-top: 49px;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	border: 2px solid red;
}

.download-app__text {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: $white;
}