.download-app {
	order: 2;
	width: 320px;
	margin: 0 auto;
	z-index: 1;
	background-color: $darken-blue;

	@media(min-width: $tablet-width) {
		width: 300px;
		margin: 0 20px;
		margin-bottom: 91px;
		order: 0;		
		background-color: transparent;	
	}

	@media(min-width: $desktop-width) {
		margin: 0;
	}
}

.download-app__wrapper {
	padding: 0 20px;
	padding-top: 30px;
	padding-bottom: 15px;

	@media(min-width: $tablet-width) {
		padding: 0;
		padding-top: 4px;
		text-align: center;
	}

	@media(min-width: $desktop-width) {
		padding-top: 10px;
	}
}

.download-app__title {
	display: none;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 300;
	color: $white;

	@media(min-width: $tablet-width) {
		display: block;
		margin-top: 0;
		margin: 0 50px;
		margin-bottom: 31px;
		padding-top: 17px;
		text-align: center;
	}

	@media(min-width: $desktop-width) {
		font-size: 50px;		
		display: block;
		margin: 0 30px;
		margin-bottom: 50px;
		padding: 0;
	}
}

.download-app__btn {
	display: inline-block;
	padding: 15px 35px; 
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: none;
	border: 3px solid $white;
	border-radius: 40px;
	color: $white;

	@media(min-width: $tablet-width) {
		padding: 16px 45px;
	}

	@media(min-width: $desktop-width) {
		padding: 16px 27px;
		font-size: 21px;
	}
}

.download-app__list {
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 18px;
	padding: 0 20px;
	list-style: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;

	@media(min-width: $tablet-width) {
		margin-top: 41px;
		margin-bottom: 34px;
		padding: 0 30px;
	}

	@media(min-width: $desktop-width) {
		padding: 0 30px;
		margin-top: 65px;
		margin-bottom: 51px;
	}
}

.download-app__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	color: $white;

	@media(min-width: $tablet-width) {
		font-size: 18px;
	}
}