.footer-inner--index {
	display: none;

	@media(min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		padding-bottom: 32px;
		align-items: center;
	}

	@media(min-width: $desktop-width) {
		padding: 48px 0;
		padding-top: 38px;
	}
}

.social {
	margin-top: 33px;
	margin-bottom: 22px;
}

.social__list { 
	display: flex;	
	width: 182px;
	justify-content: space-between;
	margin: 0;	
	padding: 0;		
	list-style: none;

	@media(min-width: $tablet-width) {
		margin-top: 5px;
		margin-bottom: 0;
		padding-right: 20px;
	}

	@media(min-width: $desktop-width) {
		padding-right: 0;
	}
}

.social__item {
    width: 50px;
    height: 50px;
} 

.social__link {
    display: block;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    width: 45px;
    height: 45px;

    &:hover {
      border: 2px solid #283645;
    }

    &:focus {
      opacity: 0.3;
    }
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 15px;
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: 18px;
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 19px;
}

.footer-inner__copyright {
	
}

.footer-inner__text {
	display: inline-block;
	padding-right: 9px;
	padding-top: 22px;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 18px;
	color: $dark-blue;
	text-decoration: none;

	@media(min-width: $desktop-width) {
		font-size: 18px;
	}
}

.footer-inner__logo {
	display: inline-block;
	vertical-align: bottom;	
}

.footer-inner__logo-copyright {
	width: 27px;
  	height: 35px;
  	background-image: url("../img/logo-htmlacademy.svg");
  	background-repeat: no-repeat;
  	display: inline-block;
	vertical-align: bottom;	
}


/* стили для photo.html */

.footer-inner { 
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
	margin: 0 auto; 
	padding: 40px 0;
	background-color: $white;

	@media(min-width: $tablet-width) {		
		flex-direction: row;
		justify-content: space-between;
		width: 620px;
		padding: 0 20px;
	}

	@media(min-width: $desktop-width) {
		width: 940px;
		padding: 60px 0;
	}
}


/* стили для form.html */

.footer-inner--form {
	@media(min-width: $tablet-width) {
		padding-top: 54px;
		padding-bottom: 13px;
	}

	@media(min-width: $desktop-width) {
		padding-top: 35px;
		padding-bottom: 50px;
	}
}