.footer-inner--index {
	display: none;

	@media(min-width: $tablet-width) {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.social__list { /*откуда берется отступ слева? */
	display: flex;
	width: 182px;
	justify-content: space-around;
	list-style: none;
	border: 2px solid green;
}

.social__item {
	margin: 0;
	padding: 0;
	width: 45px;
	height: 45px;
	border: 3px solid #e9ebec;
	border-radius: 50%;	
}

.footer-inner__text {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

/* стили для photo.html */

.foter-inner {

	}
