/* чтоб убрать обводки для форм.
.form-block {
	border: none;
}
*/

.form {
	display: flex;
	flex-direction: column;

	@media(min-width: $desktop-width) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.form-block {
	padding: 0;
}

.form-block__wrapper {
	width: 280px;
	margin: 0 auto;

	@media(min-width: $tablet-width) {
		width: 620px;
	}

	@media(min-width: $desktop-width) {
		width: 435px;
	}
}



.form-field__input {
	margin-bottom: 21px;

	@media(min-width: $tablet-width) {
		display: flex;
		align-items: center;
		margin-bottom: 45px;
	}
}

.form-field__label {
	padding-left: 23px;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	color: $red;

	@media(min-width: $tablet-width) {
		padding-left: 0;
	}	
}

.form-field__item {
	width: 100%;
	height: 59px;
	padding-left: 23px;
	margin-top: 6px;
	font-size: 18px;
	line-height: 30px;
	box-sizing: border-box;
	border: 2px solid #e5e5e5;
	color: $dark-blue;	

	@media(min-width: $tablet-width) {
		margin-left: 20px;
	}
}

.form-block--grey {
	background-color: $grey;
}

.form-checkbox {
	list-style: none;
}

.form-block__title {
	display: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: $red;

	@media(min-width: $tablet-width) {
		display: block;
	}
}

.form-block__title--mobile {
	width: 230px;
	margin: 0 auto;	
	margin-top: 40px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: $red;

	@media(min-width: $tablet-width) {
		display: none;
	}
}

.form-checkbox {
	margin: 0;
	margin-top: 40px;
	padding: 0;
}

.form-checkbox > li {
	margin-bottom: 45px; 
}

.form-checkbox__label {
	padding-left: 60px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;	
}

textarea {
	width: 100%;
	height: 197px;
	padding-left: 23px;
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 30px;
	box-sizing: border-box;
	resize: none;
	border: 2px solid #e5e5e5;
	color: $dark-blue;	

	@media(min-width: $tablet-width) {
		
	}
}

.form-btn {
	width: 280px;
	margin: 0 auto;
	padding: 15px 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid $green;
	color: $white;
	background-color: $green;
}

.contest-form__legend {
	margin-top: 46px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

sup {
	color: $red;
}

/* pop-up */

.modal {
	display: flex;
	flex-direction: column;
	width: 320px;
	background-color: $white;
}

.modal__wrapper {
	display: flex;
	width: 100%;
	padding: 50px 0;
	background-color: $grey;
}

.modal__info {
	margin: 0 20px;
	padding-top: 45px;
	padding-bottom: 35px;
	text-align: center;
}

.modal__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: $black;	
}

.modal__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: $dark-blue;
}