.main-publications {
	margin: 0 20px;

	@media(min-width: $tablet-width) {
		display: flex;
		flex-wrap: wrap;
	}

	@media(min-width: $desktop-width) {
		margin: 0;
	}
}

.main-publications__card {
	margin-bottom: 20px;

	@media(min-width: $desktop-width) {
		margin-bottom: 53px;

		&:nth-child(4n) {
			margin-bottom: 20px;
		}
		
		&:nth-child(5n) {
			margin-bottom: 20px;
		}
		
		&:nth-child(6n) {
			margin-bottom: 20px;
		}
	}
}

.user-photo__hit {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 20px;

	@media(min-width: $tablet-width) {
		padding-bottom: 50px;
	}
}

.user-photo {
	display: flex;
	flex-direction: column; 

	@media(min-width: $tablet-width) {
		width: 300px;
		margin-right: 20px;

		&:nth-child(2n) {
			margin-right: 0;
		}		
	}

	@media(min-width: $desktop-width) {
		

		&:nth-child(2n) {
			margin-right: 20px;
		}
		
		&:nth-child(3n) {
			margin-right: 0;
		}
		
		&:nth-child(4n) {
			margin-right: 20px;
		}
	}	 
}

.user-photo__image--hit::before {
	content: "панорама дня";
  display: block;
  position: absolute;
  z-index: 11;
  width: 140px;
  height: 31px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: $white;
  text-transform: uppercase;
  background-color: $red;
  right: 20px;
  text-align: center;
  padding-top: 6px;

  @media(min-width: $tablet-width) {
  	top: 58px;
  }

  @media(min-width: $desktop-width) {
  	right: 130px;
  	top: 54px;
  }
}

.user-photo__image--hit img{
	@media(min-width: $tablet-width) {
		height: 509px;
		overflow: hidden;
	}	

	@media(min-width: $desktop-width) {
		height: auto;
	}
}

.user-photo__image img{
	vertical-align: bottom;
}

.user-photo__details {
	padding: 19px;
	font-size: 14px;
	line-height: 24px;
	background-color: $grey;

	@media(min-width: $tablet-width) {
		min-height: 117px;
		padding: 25px 28px;
		padding-bottom: 13px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.details__hit {
	margin: 0 20px;	
	padding: 19px;
	font-size: 14px;
	line-height: 24px;
	background-color: $grey;

	@media(min-width: $tablet-width) {
		position: relative;
		padding: 25px 28px;
		padding-bottom: 13px;
	} 

	@media(min-width: $desktop-width) {
		margin: 0 130px;
	}
}

.user-photo__author-name {
	font-weight: 700;
}

.user-photo__time {
	font-weight: 300;
}

.user-photo__text {
	margin-top: 0;
	margin-bottom: 11px;
}

.user-photo__like {
	@media(min-width: $tablet-width) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}

.details__hit .user-photo__like {
	@media(min-width: $tablet-width) {		
		position: absolute;
		top: 26px;
		right: 30px;
	}
}

.user-photo__button {
	height: 21px;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.user-photo__like-count {
	padding-left: 15px;
	padding-right: 16px;
	font-size: 12px;
	text-transform: uppercase;
	color: $red;

	@media(min-width: $tablet-width) {
		padding-left: 0;
		padding-bottom: 10px;
	}
}

.main-publications__text {
	padding: 11px 0;
	margin-bottom: 32px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;

	@media(min-width: $tablet-width) {
		margin-top: 34px;
		margin-bottom: 58px;
		font-size: 18px;
	}	

	@media(min-width: $desktop-width) {
		padding: 5px 0;
		padding-bottom: 7px;
	}
}