.user-photo__details {
	font-size: 14px;
	line-height: 24px;
	background-color: $grey;
}

.user-photo__author-name {
	font-weight: 700;
}

.user-photo__time {
	font-weight: 300;
}

.user-photo__like-count {
	font-size: 12px;
	color: $red;
}

.main-publications__text {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;	
}