.page-main {
	border: 2px solid green;	
}

.page-main__container {
	width: 320px;
	margin: 0 auto;
	background-color: $white;
	border: 2px solid yellow;

	@media(min-width: $tablet-width) {
		width: 660px;
	}

	@media(min-width: $desktop-width) {
		width: 100%
	}
}

/*photo.html*/

.page-main__text {
	padding: 50px 38px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	background-color: $white;

	@media(min-width: $tablet-width) {
		padding: 80px 110px;
		font-size: 18px;
	}
}

