.page-footer {	
	background-color: $white;
}

.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.contacts {
	padding: 0 20px;
	color: $dark-blue;
	text-align: center;
}

.contacts__answer {
	font-size: $fontsize;
	line-height: 1.2;
	font-weight: 300;
	text-align: center;	
}

.contacts__title {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;	
}

.contacts__text {
	font-weight: 300;
	text-decoration: none;
	color: $red;
}