.page-main {
	margin: 0;

	@media(min-width: $desktop-width) {		
		background-color: $white;
	}	
}

.page-main__container {
	width: 320px;
	margin: 0 auto;
	background-color: $white;

	@media(min-width: $tablet-width) {
		width: 660px;
	}

	@media(min-width: $desktop-width) {
		width: 100%
	}
}



/*photo.html*/

.page-main__head {
	width: 320px;
	margin: 0 auto;
	background-color: $white;

	@media(min-width: $tablet-width) {
		width: 660px;
	}

	@media(min-width: $desktop-width) {
		width: 1200px;
	}
}

.page-main__wrapper {
	width: 320px;
	margin: 0 auto;
	background-color: $white;
	  /*когда убираю обводку блок отлипает от верхнего ???*/

	@media(min-width: $tablet-width) {
		width: 660px;
	}

	@media(min-width: $desktop-width) {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

.page-main__text {
	padding: 46px 35px;
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	background-color: $white;

	@media(min-width: $tablet-width) {
		padding: 0 90px;
		padding-top: 93px;
		padding-bottom: 75px;
		font-size: 18px;
	}

	@media(min-width: $desktop-width) {
		padding: 93px 280px;
		padding-bottom: 87px;
	}
}

/* form.html */

.page-main__text--form {
	padding: 45px 20px;
	padding-bottom: 32px;

	@media(min-width: $tablet-width) {
		display: none;
	}
}
.page-main__text--form-tablet {
	display: none;

	@media(min-width: $tablet-width) {
		display: block;
		padding: 68px 85px;
	}
}