.contacts {
	color: $dark-blue;
}

.contacts__answer {
	font-size: $fontsize;
	line-height: 1.2;
	font-weight: 300;	
}

.contacts__title {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;	
}

.contacts__text {
	font-weight: 300;
	text-decoration: none;
	color: $red;
}