.page-footer {	
	background-color: $white;
}

.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	width: 320px;
	margin: 0 auto;
	border: 2px solid red;
}

@media(min-width: $tablet-width) {
	.page-footer__wrapper {
		width: 660px;
	}
}

.contacts {
	padding: 0 20px;
	color: $dark-blue;
	text-align: center;
}

.contacts__answer {
	font-size: $fontsize;
	line-height: 1.2;
	font-weight: 300;
	text-align: center;	
}

@media(min-width: $tablet-width) {
	.contacts__answer {
		padding: 0 120px;
		font-size: 40px;
	}
}

.contacts__item {
	padding-bottom: 20px;
}

@media(min-width: $tablet-width) {
	.contacts__item {
		display: inline-block;
		width: 295px;
		padding-left: 10px;
	}
}

.contacts__title {
	display: block;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;	
}

.contacts__text {
	font-weight: 300;
	text-decoration: none;
	color: $red;
}

@media(min-width: $tablet-width) {
	.contacts__map--mobile {
		display: none;
	}
}

.contacts__map--tablet {
	display: none;
}

@media(min-width: $tablet-width) {
	.contacts__map--tablet {
		display: block;
	}
}