.page-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: $white;
    background-color: rgba($black, 0.3);
    border: 2px solid pink;   
}

@media(min-width: $desktop-width) {
	.page-header {
		flex-direction: row;
	}
}

.page-header__logo {
	padding: 23px;
	width: 75px;
	height: 23px;
}


.page-header__upbox {
	width: 320px;
	margin: 0 auto;	
	background-color: $dark-blue;
	border: 2px solid yellow;
}

@media (min-width: $tablet-width) {
	.page-header__upbox {		
		width: auto;
	}
}
/*
@media (min-width: $desktop-width) {
	.page-header__upbox {		
		height: 110px;
	}
}
*/

.page-header__intro {
	padding-top: 395px;	
	background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

@media(min-width: $desktop-width) {
	.page-header__intro {
		background-position: left bottom;
	}
}

.page-header__title {
	padding: 35px 76px 86px 76px;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	text-align: center;
	color: $white;
}