.price {
	padding-top: 103px;
	padding-bottom: 100px;
	background-color: $grey;

	@media(min-width: $tablet-width) {
		padding-top: 15px;
		padding-bottom: 70px;
	}

	@media(min-width:$desktop-width) {
		padding-bottom: 95px;
	}
}

.price::before {
    content: "";
    display: block;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 47px;
    margin-top: -103px;
    margin-bottom: 56px;
}

.price__wrapper {

	@media(min-width: $tablet-width) {
	margin: 0 20px;
	}

	@media(min-width: $desktop-width) {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

.price__list {

	@media(min-width: $tablet-width) {
		display: flex;
		position: relative;
		padding-left: 155px; 
		padding-top: 83px;
	}

	@media(min-width: $desktop-width) {
		padding-top: 108px;
		padding-left: 233px;
	}
}

.price__item {
	width: 280px;
	margin: 0 auto;

	@media(min-width: $tablet-width) {
		width: 100%;
		margin: 0;
		display: block;
		width: 155px;
	}

	@media(min-width: $desktop-width) {
		width: 236px;
	}
}

.price__head {
	padding: 16px 0;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid $dark-blue;
	background-color: $dark-blue;

	@media(min-width: $tablet-width) {
		padding: 7px;
	}

	@media(min-width: $desktop-width) {
		padding: 17px;
	}
}

.price__head--hit {
	@media(min-width: $tablet-width) {
		border-right: 2px solid $grey;
		border-left: 2px solid $grey;
	}
}

.price__head--hit::before {
	content: "";
    position: absolute;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 74px;
    height: 73px;
    top: 103px;
    left: 20px;
}

.price__head--hit::after {
	content: "хит";
    position: absolute;   
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: $white;
    margin: 0;
    text-transform: uppercase;
    transform: rotate(-45deg);
    top: 114px;
    left: 29px;
}

.price__head p {
	margin: 0;
	padding: 0;
}

.price__name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;	
	color: $white;

	@media(min-width: $tablet-width) {
		font-size: 16px;
	}

	@media(min-width: $desktop-width) {
		font-size: 18px;
	}
}

.price__value {
	font-size: $fontsize;
	line-height: 30px;
	font-weight: 300;
	color: $white;

	@media(min-width: $tablet-width) {
		font-size: 18px;
	}

	@media(min-width: $desktop-width) {
		font-size: $fontsize;
	}
}

.price__content {
	display: flex;
	justify-content: space-between;
}

.price__field {
	margin: 0;
	padding: 0;
	width: 210px;
	list-style: none;
	background-color: $white;

	@media (min-width: $tablet-width) {
		position: absolute;
		left: 0;
		width: 155px;
	}

	@media(min-width: $desktop-width) {
		width: 234px;
	}
}

.price__field-name {
	padding: 15px 0;
	padding-left: 20px;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: $dark-blue;
	border-left: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;

	@media(min-width: $tablet-width) {
		padding: 7px 0;
		padding-left: 15px;
		text-transform: none;
		border-right: 2px solid #e5e5e5;
	}

	&:nth-child(1) {
		@media(min-width: $tablet-width) {
			border-top: 2px solid #e5e5e5;
		}
	}

	@media(min-width: $desktop-width) {
		padding: 14px 0;
		padding-left: 20px;
		font-size: 18px;
	}
}

.pice__choice {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 69px;
	background-color: $white;

	@media(min-width: $tablet-width) {
		width: 100%;
	}
}

.price__choice-mark:first-child {
	@media (min-width: $tablet-width) {
		border-top: 2px solid $dark-blue;
		border-radius: 0;
	}
	
}

.price__choice-mark {
	text-align: center;
	padding: 16px 0;
	border-right: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;

	@media(min-width: $tablet-width) {
		padding: 8px 0;
	}

	@media(min-width: $desktop-width) {
		padding: 15px 0;
	}
}

.price__toggles {

	@media(min-width: $tablet-width) {
		display: none;
	}
}