.reviews {

	background-color: $white;
}

.reviews__item {
	margin: 0;
	padding: 0;
	padding-top: 49px;
}

.reviews__author {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: $black;
}

.reviews__text {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	color: $dark-blue;
}