.slider {
	position: relative;
}

.slider__list,
.price__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider__item {
	@media(min-width: $desktop-width) {
		width: 820px;
	}
}

.price__item {
	display: none;
}

.slider__toggles {
	position: absolute; 
	left: 50%;
	bottom: 0;
	font-size: 0;	
  	transform: translateX(-50%);

	@media(min-width: $desktop-width) {
		display: none;
	}
}

.price__toggles {
	position: absolute; 
	left: 50%;
	bottom: 40px;
	font-size: 0;	
  	transform: translateX(-50%);

	@media(min-width: $desktop-width) {
		display: none;
	}
}

.slider__toggle,
.price__toggle {
	position: relative;
	display: inline-block;
	width: 6px;
	height: 6px;
	padding: 9px;	
	border-radius: 50%;
	cursor: pointer;
}

.slider__toggle::after,
.price__toggle:after {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 1;
	width: 6px;
	height: 6px;
	background-color: #bec2c7;
	border-radius: 50%;
}

#slide-1:checked ~ .slider__list .slider__item:nth-child(1) {
	display: block;
}

#slide-2:checked ~ .slider__list .slider__item:nth-child(2) {
	display: block;
}

#slide-3:checked ~ .slider__list .slider__item:nth-child(3) {
	display: block;
}

#slide-1:checked ~ .slider__toggles .slider__toggle--1::before,
#slide-2:checked ~ .slider__toggles .slider__toggle--2::before,
#slide-3:checked ~ .slider__toggles .slider__toggle--3::before {
	content: "";
	position: absolute;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -6px;
	background-color: $white;
	border: 3px solid $dark-blue;
	border-radius: 50%;
}



/*
#slide-1:checked ~ .slider__controls .slider__control:nth-child(3),
#slide-2:checked ~ .slider__controls .slider__control:nth-child(1),
#slide-3:checked ~ .slider__controls .slider__control:nth-child(2) {
	background-image: url("/img/prev.png");
	background-repeat: no-repeat;
	margin: 0 0 0 -34px;
	width: 68px;
	height: 68px;
	display: block;
}

#slide-1:checked ~ .slider__controls .slider__control:nth-child(2),
#slide-2:checked ~ .slider__controls .slider__control:nth-child(3),
#slide-3:checked ~ .slider__controls .slider__control:nth-child(1) {
	background-image: url("/img/next.png");
	background-repeat: no-repeat;
	margin: 0 -34 0 0;
	width: 68px;
	height: 68px;
	display: block;
}

#slide-1:checked ~ .slider__wrapper .slider__list {
	margin-left: 0;
}

#slide-2:checked ~ .slider__wrapper .slider__list {
	margin-left: -820px;
}

#slide-3:checked ~ .slider__wrapper .slider__list {
	margin-left: -1640px;
}
*/

#price-1:checked ~ .price__list .price__item:nth-child(1) {
	display: block;
}

#price-2:checked ~ .price__list .price__item:nth-child(2) {
	display: block;
}

#price-3:checked ~ .price__list .price__item:nth-child(3) {
	display: block;
}

#price-1:checked ~ .price__toggles .price__toggle--1::before,
#price-2:checked ~ .price__toggles .price__toggle--2::before,
#price-3:checked ~ .price__toggles .price__toggle--3::before {
	content: "";
	position: absolute;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -6px;
	background-color: $white;
	border: 3px solid $dark-blue;
	border-radius: 50%;
}

/* Слайдер jQuery */

.bx-prev,
.bx-next {
	display: none;

	@media(min-width: $desktop-width) {
		display: block;
	}
}

.bx-wrapper {
	border: 0;
	box-shadow: none;
}

.bx-pager {
	padding: 0;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	@media(min-width: $tablet-width) {		
	bottom: -45px;
	}
}

.bx-pager-item {	
	margin: 0 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	width: 6px;
	height: 6px;
	background-color: #bec2c7;
	border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
	width: 6px;
	height: 6px;
	margin: -3px;
	background-color: $white;
	border: 3px solid $dark-blue;
	border-radius: 50%;
}

