.upload {
	padding: 0 20px;
	padding-top: 20px;
	background-color: $grey;

	@media(min-width: $tablet-width ){
		display: flex;
	}	
}

.upload__image {
	width: 280px;
	height: 364px;

	@media(min-width: $tablet-width) {
		width: 300px;
		height: 400px;
		margin-top: 37px;
	}
}

.upload__image img {
	@media(min-width: $tablet-width) {
		max-width: none;
	}
}

.upload__controls {
	display: inline-block;
	padding: 40px 0;
	border: none;
	font-size: 0;
}

.upload__control {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.controls__button {
	padding-left: 33px;
	margin-top: 10px;
}

.controls__btn {
	position: relative;
	display: inline-block;
	margin-right: 35px;
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.controls__btn:last-child {
	margin-right: 0;
	top: 5px;
}

.controls__btn svg {
	position: absolute;	
	z-index: 1;
	
}

.upload__range {
	position: relative;
	width: 240px;
	margin-top: 36px;
	padding: 0 18px;
}

.upload__scale {
	height: 2px;
	background-color: $dark-blue;
}

.upload__toggle {
	position: absolute;
	top: -5px;
	right: 52px;
	width: 10px;
	height: 10px;
	padding: 0;
	border: 2px solid $red;
	border-radius: 50%;
	background-color: $white;
	cursor: pointer;
}

.button {
	width: 276px;
	padding: 16px 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	border-radius: 50px;
}

.upload__submit {
	padding: 32px 0;
	padding-bottom: 40px;
	border: none;
}

.upload__btn-submit {
	margin-bottom: 12px;
	border: 3px solid $red;
	color: $red;
}

.upload__btn-reset {
	border: 3px solid $dark-blue;
	opacity: 0.2;
}