.upload {
	padding: 0 20px;
	padding-top: 20px;
	background-color: $grey;

	@media(min-width: $tablet-width ){
		display: flex;
	}	
}

.upload__image {
	width: 280px;
	height: 364px;

	@media(min-width: $tablet-width) {
		width: 300px;
		height: 400px;
		margin-top: 37px;
	}

	@media(min-width: $desktop-width) {
		margin-left: 60px;
		margin-right: 40px;
	}
}

.upload__image img {
	@media(min-width: $tablet-width) {
		max-width: none;
	}
}

.upload-controls__wrapper {
	margin-top: 31px;

	@media(min-width: $tablet-width) {
		display: flex;
		flex-direction: column;
		width: 280px;
		margin-bottom: 55px;
	}

	@media(min-width: $desktop-width) {
		width: 425px;
		margin-left: 35px;
		margin-bottom: 35px;
	}
}

.controls__setting {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 0;
	margin-right: -20px;
	margin-left: -20px;
	padding: 0 55px;
  	padding-top: 18px;
  	padding-bottom: 35px;
  	font-size: 0;
  	list-style: none;
  	border-bottom: 1px solid #dddfe0;	

  	@media(min-width: $tablet-width) {
  		flex-direction: column;
  		border: none;
  		margin-right: 0;
  		margin-left: 13px;
  		padding-top: 15px;
  		padding-left: 0;
  		padding-right: 0;
  	}

  	@media(min-width: $desktop-width) {
  		padding-top: 3px;
  	}
}

.controls__setting-button {
	margin-bottom: 38px;

	@media(min-width: $tablet-width) {
		width: 100%;
		margin-bottom: 25px;
		margin-left: 35px;
		padding-bottom: 25px;
		text-align: left;		
		border-bottom: 1px solid #dddfe0;
	}

	@media(min-width: $desktop-width) {
		padding-bottom: 11px;
		margin-bottom: 12px;
		margin-left: 0;
	}
}

.controls__btn {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.controls__button-crop,
.controls__button-fill,
.controls__button-contrast {
	position: relative;
	
}


.controls__button-crop .controls__btn { 	
	width: 48px;
	height: 48px;
	background-image: url("../img/icon-editor-crop.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}

	@media(min-width: $tablet-width) {
		width: 22px;
		height: 22px;
	}

	@media(min-width: $desktop-width) {
		width: 48px;
		height: 48px;
	}
} 

.controls__button-crop .controls__btn--active {
	background-image: url("../img/icon-editor-crop-pink.svg");
	opacity: 1;
}

.controls__button-fill .controls__btn {
	width: 48px;
    height: 48px;
    background-image: url("../img/icon-editor-fill.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
    }

    @media(min-width: $tablet-width) {
		width: 22px;
		height: 22px;
	}

	@media(min-width: $desktop-width) {
		width: 48px;
		height: 48px;
	}
}

.controls__button-fill .controls__btn--active {
	background-image: url("../img/icon-editor-fill-pink.svg");
}

.controls__button-contrast .controls__btn {
	margin: 8px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
    }

    @media(min-width: $tablet-width) {
    	margin-top: 0;
		width: 16px;
		height: 16px;
	}

	@media(min-width: $desktop-width) {
		margin: 8px;
		width: 32px;
		height: 32px;
	}
}

.controls__button-contrast .controls__btn--active {
	background-image: url("../img/icon-editor-contrast-pink.svg");
}

.controls__button-fill {
	margin-left: -49px;

	@media(min-width: $tablet-width) {
		margin-left: 0;
	}
}

.controls__button-contrast {
	margin-left: -50px;

	@media(min-width: $tablet-width) {
		margin-left: 0;
	}
}

.controls__button-fill .upload__range,
.controls__button-contrast .upload__range {
	display: none;

	@media(min-width: $tablet-width) {
		display: block;
	}
}

.upload__range {
	position: absolute;
  	top: 73px;
 	margin-left: -15px;


	@media(min-width: $tablet-width) {
		top: 0;
		margin-left: 52px;
	}

	@media(min-width: $desktop-width) {
		top: 13px;
		margin-left: 94px;
	}
}

.upload__scale {
	width: 240px;
  	height: 2px;
  	margin-top: 10px;
  	margin-bottom: 20px;
  	background-color: $dark-blue;

  	@media(min-width: $tablet-width) {
  		width: 200px;
  	}

  	@media(min-width: $desktop-width) {
  		width: 288px;
  	}
}

.upload__toggle {
	position: absolute;
	top: 4px;
	right: 32px;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: $white;
    border: 2px solid $red;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #d43560;
  }
}

.button {
	width: 276px;
	padding: 16px 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	border-radius: 50px;

	@media(min-width: $tablet-width) {
		width: 260px;
	}

	@media(min-width: $desktop-width) {
		width: 183px;
	}
}

.upload__submit {
	padding: 37px 0;
	padding-bottom: 40px;
	border: none;

	@media(min-width: $tablet-width) {
		padding: 0 45px;
	}

	@media(min-width: $desktop-width) {
		margin: 0;
    	margin-top: 98px;
    	margin-left: 15px;
    	padding: 0;
	}
}

.upload__btn-submit {
	margin-bottom: 12px;
	border: 3px solid $red;
	color: $red;

	@media(min-width: $tablet-width) {
		margin-bottom: 22px;
		margin-right: 37px;
	}
}

.upload__btn-reset {
	border: 3px solid $dark-blue;
	opacity: 0.2;
}